APP_NAME=WorkPulse
APP_ENV=staging
APP_DEBUG=true
APP_URL=http://workpulse-laravel.test

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=workpulse_staging_copy
DB_USERNAME=root
DB_PASSWORD=

AUTH2_BASE_URL=https://auth2.weststar-dev.com
AUTH2_SITE_KEY=wesb
WORKPULSE_LEGACY_API_BASE_URL=https://workpulse.weststar-dev.com/api

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
